In [33]:
import pickle
import pandas as pd

In [261]:
f=open('../network_mesh_space=0.0025_month=1_day=2.pickle','rb')
network = pickle.load(f)
f.close()

In [262]:
count_pick_ups = network.loc(axis=0)[7,:,:,:]
count_drop_offs = network.loc(axis=0)[:,7,:,:]

In [263]:
count_pick_ups_cols = count_pick_ups.reset_index()
count_drop_offs_cols = count_pick_ups.reset_index()

In [264]:
pickups = pd.DataFrame(count_pick_ups_cols.groupby('pickup_center')[0].sum())
dropoffs = pd.DataFrame(count_drop_offs_cols.groupby('dropoff_center')[0].sum())

In [265]:
pickups.head()

                0
pickup_center
9054            1
9418           15
10193           1
10391           1
10612           1

In [266]:
dropoffs.head()

                0
dropoff_center
5606            1
7063            1
7977            1
8201            1
8323            1

In [267]:
new = pd.merge(pickups,dropoffs,how='outer',left_index=True, right_index=True)

In [268]:
new.head()

      0_x  0_y
5606  NaN    1
7063  NaN    1
7977  NaN    1
8201  NaN    1
8323  NaN    1

In [269]:
new = new.fillna(value=0)

In [270]:
new = new.reset_index()

In [271]:
new.head()

   index  0_x  0_y
0   5606    0    1
1   7063    0    1
2   7977    0    1
3   8201    0    1
4   8323    0    1

In [272]:
map_data = pd.DataFrame()

In [273]:
map_data['centers'] = new['index']

In [274]:
map_data['activity'] = new['0_x'] + new['0_y']

In [275]:
map_data['attractiveness'] = new['0_y'] - new['0_x']

In [276]:
map_data['incoming'] = new['0_y']

In [277]:
map_data['outgoing'] = new['0_x']

In [278]:
map_data.head()

   centers  activity  attractiveness  incoming  outgoing
0     5606         1               1         1         0
1     7063         1               1         1         0
2     7977         1               1         1         0
3     8201         1               1         1         0
4     8323         1               1         1         0

In [282]:
map_data['centers'] = map_data['centers'].astype(int)

In [242]:
f=open('../centers_long_lat_id_mesh_space=0.0025.pickle','rb')
grid = pickle.load(f)
f.close()

In [243]:
grid.head()

   longitude   latitude  center_id
0 -74.293396  40.481965          1
1 -74.293396  40.484492        224
2 -74.293396  40.487018        447
3 -74.293396  40.489545        670
4 -74.293396  40.492071        893

In [244]:
gridMap_data = pd.merge(map_data,grid,how='inner',left_on='centers',right_on='center_id')

In [245]:
gridMap_data.head()

,centers,activity,attractiveness,incoming,outgoing,longitude,latitude,center_id
0,5606,1,1,1,0,-74.217784,40.545130,5606
1,7063,1,1,1,0,-73.917856,40.560289,7063
2,7977,1,1,1,0,-73.862407,40.570396,7977
3,8201,1,1,1,0,-73.859886,40.572922,8201
4,8323,1,1,1,0,-74.114447,40.575449,8323

In [246]:
for index, row in gridMap_data.iterrows():
    print index
    print row[5]
    break

0
-41.2177838378

In [258]:
gridMap_data.sort(columns='outgoing',ascending=False)

,centers,activity,attractiveness,incoming,outgoing,longitude,latitude,center_id
1596,23759,3294,-978,1158,2136,-73.990947,40.749784,23759
1752,24428,2170,-1716,227,1943,-73.990947,40.757364,24428
1652,23987,2391,95,1243,1148,-73.978345,40.752311,23987
1646,23981,1180,-644,268,912,-73.993468,40.752311,23981
1595,23758,1232,-548,342,890,-73.993468,40.749784,23758
1694,24205,1096,-576,260,836,-73.990947,40.754837,24205
2021,25555,957,-603,177,780,-73.960702,40.769997,25555
1653,23988,1917,433,1175,742,-73.975825,40.752311,23988
1700,24211,2776,1492,2134,642,-73.975825,40.754837,24211
1967,25331,784,-478,153,631,-73.963223,40.767470,25331
1970,25334,852,-374,239,613,-73.955662,40.767470,25334
1971,25335,1009,-107,451,558,-73.953141,40.767470,25335
1434,23094,675,-435,120,555,-73.980866,40.742204,23094
2198,26449,906,-170,368,538,-73.955662,40.780103,26449
2081,25781,640,-414,113,527,-73.953141,40.772523,25781
1753,24429,775,-277,249,526,-73.988427,40.757364,24429
2226,26672,1053,1,527,526,-73.955662,40.782630,26672
1758,24434,1913,881,1397,516,-73.975825,40.757364,24434
1763,24439,594,-400,97,497,-73.963223,40.757364,24439
1919,25108,669,-323,173,496,-73.963223,40.764944,25108
1482,23313,699,-279,210,489,-73.990947,40.744731,23313
1487,23318,626,-340,143,483,-73.978345,40.744731,23318
1814,24653,1078,126,602,476,-73.985907,40.759890,24653
1541,23540,840,-106,367,473,-73.980866,40.747257,23540
1918,25107,805,-135,335,470,-73.965743,40.764944,25107
2167,26226,705,-233,236,469,-73.955662,40.777577,26226
2013,25547,626,-294,166,460,-73.980866,40.769997,25547
206,14476,537,-369,84,453,-73.781754,40.643667,14476
1544,23543,609,-289,160,449,-73.973305,40.747257,23543
1871,24886,559,-333,113,446,-73.960702,40.762417,24886
...,...,...,...,...,...,...,...,...
959,20667,1,1,1,0,-73.915335,40.714412,20667
957,20662,1,1,1,0,-73.927937,40.714412,20662
956,20659,1,1,1,0,-73.935498,40.714412,20659
1010,20924,3,3,3,0,-73.829641,40.716938,20924
1011,20939,2,2,2,0,-73.791835,40.716938,20939
1012,20959,1,1,1,0,-73.741427,40.716938,20959
1045,21129,1,1,1,0,-73.875009,40.719465,21129
1075,21312,10,10,10,0,-73.975825,40.721991,21312
1058,21176,1,1,1,0,-73.756550,40.719465,21176
1057,21169,1,1,1,0,-73.774192,40.719465,21169
1056,21166,1,1,1,0,-73.781754,40.719465,21166
1055,21163,1,1,1,0,-73.789315,40.719465,21163
1054,21162,1,1,1,0,-73.791835,40.719465,21162
1053,21155,1,1,1,0,-73.809478,40.719465,21155
1052,21153,1,1,1,0,-73.814519,40.719465,21153
1047,21141,1,1,1,0,-73.844764,40.719465,21141
1046,21132,1,1,1,0,-73.867447,40.719465,21132
1044,21118,1,1,1,0,-73.902733,40.719465,21118
1013,21066,2,2,2,0,-74.033794,40.719465,21066
1043,21109,1,1,1,0,-73.925417,40.719465,21109
1042,21107,1,1,1,0,-73.930458,40.719465,21107
1041,21102,1,1,1,0,-73.943060,40.719465,21102
1040,21101,1,1,1,0,-73.945580,40.719465,21101
1039,21100,1,1,1,0,-73.948100,40.719465,21100
1038,21099,1,1,1,0,-73.950621,40.719465,21099
1036,21097,4,4,4,0,-73.955662,40.719465,21097
1034,21094,5,5,5,0,-73.963223,40.719465,21094
1016,21072,1,1,1,0,-74.018672,40.719465,21072
1014,21067,1,1,1,0,-74.031274,40.719465,21067
2936,37865,1,1,1,0,-73.847284,40.908959,37865